.nav.nav-spacing-xlarge > li {
    margin: 0 20px;
}
@media screen and (max-width: 1080px) {
    .nav.nav-spacing-xlarge > li {
        margin: 0 12px;
    }
}

@media screen and (max-width: 549px) {
    #header.transparent .header-main {
        height: 100px;
    }
    .header-search-dropdown.current-dropdown > .nav-dropdown {
        left: -265px;
    }
    .mobile-nav.nav > li {
        margin: 0 10px;
    }
}