
.widget_categories ul li.cat-item,
.widget_archive ul li {
	display: flex;
	border: none !important;
	margin: 5px 0;
}
.widget_categories ul li.cat-item::before,
.widget_archive ul li::before {
	content: '';
	width: 15px;
	height: 15px;
	background: url(../images/item-list.svg) no-repeat center;
	margin-top: 10px;
}
.widget_categories ul li.cat-item a,
.widget_archive ul li a {
	color: #939393;
	text-transform: uppercase;
	/*! font-weight: 600; */
	font-size: 0.9em;
}
.widget_categories ul li.cat-item.current-cat.active a, 
.widget_categories ul li.cat-item:hover a,
.widget_archive ul li a[aria-current="page"], 
.widget_archive ul li:hover a {
	color: var(--secondary-color);
}
.thumb-widget-blog.badge {
	width: 70px;
	height: 70px;
}

#secondary .widget > .widget-title {
	color: #222;
	font-size: 1.3em;
	margin-bottom: 20px;
	display: block;
}
#secondary .widget > .is-divider {
	display: none;
}
#secondary .widget {
	margin-bottom: 50px;
}
.ux-search-submit {
	background-color: transparent !important;
	color: #DDDDDD !important;
}