.sub-line {
	color: #006E8F;
	font-size: 14;
	font-weight: 500;
	line-height: 1;
}
.sub-line:after {
	position: absolute;
	content: "";
	height: 1px;
	width: 60px;
	background-color: #006E8F;
	top: 10px;
	margin-left: 8px;
}
.line-sub:before {
	position: absolute;
	content: "";
	height: 1px;
	width: 60px;
	background: #fff;
	top: 10px;
	margin-right: -68px;
}
.sub:after {
	position: absolute;
	content: "";
	height: 1px;
	width: 60px;
	background: rgba(255, 255, 255, 0.80);
	top: 10px;
	margin-left: 8px;
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1080px) {

}
@media screen and (max-width: 576px) {
	
}

